*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background: linear-gradient(to right, #363d41, #18324d);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #2f6f92, #97afc7);
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.box{
    width: 920px;
    height: 620px;
    padding: 10px;
    border-radius: 10px;
    background-color: #595e81;
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;

}

.right , .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.scoreBox{
    background-color: #23242a;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    height: 25%;
}
.currentScore{
    font-size: 40px;
}
.active{
    background-color: #4996e9;
    border-radius: 10px;
    padding: 10px;
   
}
.centerLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
button{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #c02425;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform ease-out 250ms;
}
button:hover{
    transform: scale(1.1);
    transition: background ease-out 250ms, transform ease-out 250ms;
    box-shadow: 1px 0px 8px 0px #ff2525;
    background-color: #ff2525;
}

.hidden{
    visibility: hidden;
}


   @media only screen and (max-width: 600px){
    body{
        width: 100%;
        height: auto;

    }
    .box{
        margin-top: 100px ;
        width: 100%;
        height: 70vh;
        background-color: black;
       
    }
    button{
        width: 100%;
        font-size: 15px;
    }
    .diceImg{
        height: 40px;
    }
    .centerLine{
        padding: 0 20px;
    }
   .active{
    width: 50%;
   }
   .scoreBox .current{
    font-size: 20px;
    text-align: center;
   }
   .player{
    font-size: 20px;
   }
   .num{
    font-size: 25px;
   }
   }
